* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-font;
  font-size: $font-size;
  line-height: $line-height;
  background-color: #fff;
}

body {
  color: $font-color;
  -webkit-text-size-adjust: 100%;
}

main {
  background-color: transparent;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    @extend .global-hover;
  }
  strong {
    color: inherit;
  }
}

.site-title {
  @extend .heading-font;
  margin: $side-pad 0 0 0;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-top: 20px;
  a {
    &:before {
      content:"<";
    }
    color: $light-color;
    &:hover,
    &:focus {
      @extend .global-hover;
      color: $accent-color;
    }
  }
}

img {
  max-width: 100%;
  margin: 0 0 1rem;
}
