.text {
  margin: 0 auto;
  padding: 0;
  text-align: left;
  width: $page-width-percent;
  max-width: $page-width;
  font-size: 1.3rem;
  line-height: 2.1rem;
  .fade {
    color: $light-color;
  }
  h1, h2, h3, h4, h5, h6{
    @extend .heading-font;
  }
}

.below {
  padding: 0 0 100px 0;
  width: 100%;
  min-height: 100px;
  background-color: #fff;
  top: 100%;
  position: absolute;
  .text{
    @extend .text;
  }
}

.gallery {
  padding-top: 100px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  img {
    margin: 0px;
    margin-bottom: 100px;
  }
}

.text-img {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  text-align: center;
  img {
    padding: 0;
  }
}

footer {
  clear: both;
  margin: 0 auto;
  text-align: left;
  width: $page-width-percent;
  max-width: $page-width;
  padding-top: 100px;
  padding-bottom: 30px;
  color: $light-color;
  text-align: right;
}


a.ghlink:after{
  content:"]";
}
a.ghlink:before{
  content:"[";
}
.ghlink {
  padding-left: 0.5rem;
  text-transform: lowercase;
}

.paginator {
  @extend .heading-font;
  display: block;
}
.next {
  @extend .paginator;
  float: right;
}
.prev {
  @extend .paginator;
  float: left;
}

#box {
  overflow: hidden;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.intro {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 20px;
  float: left;
  margin: 0 auto;
  display: block;
  background-color: #FFF;
  //background-color: cyan;
  opacity: 0.5;
}

.title {
  position: relative;
  float: left;
  margin: 0;
  padding: $side-pad 0 0 $side-pad;
  min-height: 1rem;
  //background-color: red;
  width: 100%;
  @media (min-width: 1281px) {
    width: 50%;
  }
  h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
  }
  h1 {
    font-family: $serif-font;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: $font-color;
    @media (min-width:320px) {
      font-size: 2.0rem;
      line-height: 2.0rem;
    }
    @media (min-width:600px) {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
    @media (min-width:801px) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
    @media (min-width:1025px) {
      font-size: 5.5rem;
      line-height: 5.5rem;
    }
  }
  h2 {
    font-family: $serif-font;
    font-weight: 700;
    font-style: italic;
    font-size: 0.9rem;
    line-height: 0.9rem;
    padding: 25px 0 20px 0;
    margin: 0;
    color: $font-color;
    @media (min-width:320px) {
      font-size: 1.0rem;
      line-height: 1.5rem;
    }
    @media (min-width:600px) {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    @media (min-width:801px) {
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
    @media (min-width:1025px) {
      font-size: 2.0rem;
      line-height: 2.5rem;
      &:before{
        content:"—";
      }
    }
  }
}

