// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 50rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: 6rem;
  margin-bottom: 1rem;
  color: #eee;
  text-align: center;
}

.painting {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.paginator {
  display: block;
}

.ghlink {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.next {
  @extend .paginator;
  float: right;
}
.prev {
  @extend .paginator;
  float: left;
}

.fade {
  color: #DDD;
}
