ul#menu {
  @extend .heading-font;
  position: relative;
  display: block;
  //background-color: blue;
  list-style-type: none;
  float: left;
  line-height: 1.7rem;
  padding: 20px 0 20px 0;
  margin: 0 0 0 $side-pad;
  z-index: 1000;
  @media (min-width: 1281px) {
    float: right;
    margin: $side-pad $side-pad 0 0 ;
  }
  li {
    float: left;
    a {
      display: block;
      color: $font-color;
      margin-right: 20px;
      font-size: 0.8rem;
      line-height: 0.8rem;
      @media (min-width:320px) {
        font-size: 1.0rem;
        line-height: 1.0rem;
        margin-right: 25px;
      }
      @media (min-width:600px) {
        font-size: 1.1rem;
        line-height: 1.1rem;
        margin-right: 30px;
      }
      @media (min-width:801px) {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
      @media (min-width:1025px) {
        font-size: 1.3rem;
        line-height: 1.3rem;
      }
      @media (min-width:1281px) {
        font-size: 1.7rem;
        line-height: 1.7rem;
        margin-right: 0;
        margin-left: 40px;
      }
    }
    a:hover {
      color: #044;
      text-decoration: underline;
    }
  }
}
