<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

  </head>

  <body>

    <!--googleoff: all-->

    <header>
      <div class="text">
        <nav>
          <h1 class="site-title"><a href='/'>inconvergent</a></h1>
        </nav>
      </div>

    </div>
  </header>

  <main>

    <!--googleon: all-->

    {{ content }}

    <!--googleoff: all-->

  </main>

  <footer class="footer">
    <small>
      Copyright Anders Hoff
    </small>
  </footer>

  <div id="responsive"></div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Droid Sans', 'Droid Serif:400,700i', 'Open Sans Condensed:300']
    }
  });
</script>

</html>
