<!DOCTYPE html>
<html lang="en">

  <head>

  {% include head.html %}

  </head>

  <body>

    <!--googleoff: all-->

    <header>
      <div class="text">
        <nav>
          <div class="site-title" id="about"><a href='/'>{{ site.title }}</a></div>
        </nav>
      </div>

    </div>
  </header>

  <!--googleon: all-->

  <main>

  {{ content }}

  </main>

  <!--googleoff: all-->

  <footer class="footer">
    <small>
      Copyright Anders Hoff
    </small>
  </footer>

  {% include font.html %}

</body>


</html>
