<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

    <style>
      html{
        height: 100%;
        background-image: url(img/frbg.jpg);
        background-position: right bottom;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

  </head>

  <body>

    <header>
      <div class="intro">
        <span class="title">
          <!--googleon: all-->
          <h1>{{ site.title }}</h1>
          <h2>{{ site.tagline }}</h2>
          <!--googleoff: all-->
        </span>

        <nav>
          <ul id="menu">
            {% for page in site.pages_list %}
            <li><a href="{{ page[1]  }}">{{ page[0] }}</a></li>
            {% endfor %}
          </ul>
        </nav>

      </div>
    </header>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Droid Sans', 'Droid Serif:400,700i', 'Open Sans Condensed:300']
      }
    });
  </script>


</html>
