<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

    <style>
      html{
        height: 100%;
        background-image: url(img/frbg.jpg);
        background-position: right bottom;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>

  </head>

  <body>

    <header>
      <div class="intro">
        <span class="title">
          <!--googleon: all-->
          <h1 id='home'>{{ site.title }}</h1>
          <h2>{{ site.tagline }}</h2>
          <!--googleoff: all-->
        </span>

        <nav>
          <ul id="menu">
            {% for page in site.pages_list %}
            <li><a href="{{ page[1]  }}" onclick="ga('send', 'event', 'link', 'click', '{{ page[0] }}');">{{ page[0] }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main>


      <div class="below">
        <div class="text">

          <nav>
            <div class="site-title" id="about"><a href='#home'>{{ site.title }}</a></div>
          </nav>

          <!--googleon: all-->

          {{ content }}

          <!--googleoff: all-->

        </div>
      </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Droid Sans', 'Droid Serif:700i,700', 'Open Sans Condensed:300']
        }
      });
    </script>

  </body>

</html>
